[Unit]
Description=Braider 2 Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/BraiderMonitor/src/deployment/braider2
ExecStart=/usr/bin/python3 /home/pi/BraiderMonitor/src/deployment/braider2/braider2_monitor.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target