[Unit]
Description=Braider 3 Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/BraiderMonitor/src/deployment/braider3
ExecStart=/usr/bin/python3 /home/pi/BraiderMonitor/src/deployment/braider3/braider3_monitor.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
